* {
    font-family: sans-serif;
    
}

body {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.base {
    background-color: rgb(70, 70, 70);
    width: 350px;
    height: 320px;
    padding-top: 10px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.form {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h1 {
    color: #46c2cb;
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

input {
    width: 200px;
    height: 10px;
    border: none;
    outline: 2px solid #6d67e4;
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
    color: #fff;

    margin-top: 10px;
}

input:focus {
    outline: 2px solid #46c2cb;
}

button {
    background-color: #6d67e4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #46c2cb;

}